################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/InventarySystem.Consumer/bin/Debug/net8.0
/src/InventarySystem.Consumer/obj
/src/InventorySystem.API/bin/Debug/net8.0
/src/InventorySystem.API/obj
/src/InventorySystem.Application/bin/Debug/net8.0
/src/InventorySystem.Application/obj
/src/InventorySystem.Domain/bin/Debug/net8.0
/src/InventorySystem.Domain/obj
/src/InventorySystem.Infrastructure/bin/Debug/net8.0
/src/InventorySystem.Infrastructure/obj
